<span id="showLeftBar" class="hideInPrint" style="margin-top: 20px;">
    <a href="javascript:dhis2.leftBar.showAnimated()" title="$i18n.getString('show_menu' )"><i class="fa fa-arrow-right leftBarIcon"></i></a>
</span>

<div id="leftBar" style="width:240px!important;">

    <d2-left-bar></d2-left-bar>

    <div id="leftContainer" style="height:100%;">

        <home-left-menu report-tables="analysis"></home-left-menu>

    </div>

</div>

<div class="page "  id="mainPage" style="margin-left: 270px;">
<br/>
    <div class="row">
        <div class="col-md-10">
            <!--<div class="col-md-12">-->
            <div class="pull-right" ng-if="show_cms">
                <div id="page_switcher">
                    <div class="onoffswitch pull-right">
                        <input type="checkbox" checked="checked" class="toggleBtn onoffswitch-checkbox" ng-click="switchPage()"  id="onoffswitch6" >
                        <label for="onoffswitch6" class="onoffswitch-label">
                            <div class="onoffswitch-inner " style=""></div>
                            <div class="onoffswitch-switch" style=""></div>
                        </label>
                    </div>

                </div>
            </div>
            <!--</div>-->
<br/>
            <div class="col-md-12">
                <news-container ng-if="!showAnalysis"></news-container>
            </div>
            <div class="col-md-12">
                <div ng-if="showAnalysis" ng-include="'views/partials/analysis.html'"></div>
            </div>




        </div>
        <div class="col-md-2">
            <div id="rightsBar" style="height:100%;display: block;" >
                <!-- put right menu directive here -->
                <home-right-menu
                        message-object="messages"
                        chart-object="charts"
                >
                </home-right-menu>
            </div>
        </div>
    </div>

</div>
