<div >
    <style>
        #chart1{
            height:300px!important;
        }

        .menu_conteiner{
            font-family: LiberationSans, arial, sans-serif;
            line-height: 140%;
        }
    </style>
    <div class="row" ng-show="messages">
        <div class="col-md-12 menu_conteiner" style="padding:7px!important;" ng-if="checkStatus(messages)">
            <div class="col-md-12" ng-repeat="message in messages" ng-show="!message.hidden" style="border: 1px solid #cccccc;padding:10px;margin-bottom:5px;border-radius:5px;margin-top: 5px;">
                <span style="font-weight: bold;">{{message.title|trusted}}</span>
                <br/>
                <p ng-bind-html="message.body|trusted">
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-show="!messages&&!errorSms">
        <div class="col-md-12 menu_conteiner">
            <div ><img src="images/chartloader.gif" style="width:50px;margin-left: 40%;"></div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12 menu_conteiner" >
            <div class="row">
                <div style="text-align: center;font-family: LiberationSans, arial, sans-serif;line-height: 140%;"><b> <u>Favourites Charts</u> </b></div><br/>
            </div>
            <div  ng-repeat="chart in chartObject" ><a href="/{{chartBaseUrl}}/dhis-web-visualizer/index.html?id={{chart.id}}" target="_blank" ><img src="/{{chartBaseUrl}}/api/charts/{{chart.id}}/data?width=210&amp;height=250" title="Click to explore "></a><br/></div>
            <div ng-show="!errors&&!chartObject"><img src="images/chartloader.gif" style="width:50px;margin-left: 40%;"></div>
            <div ng-show="errors" style="text-align: center;">
            <a class="alert alert-warning">{{errorMessage}} </a>
            </div>
            <br/>
            <br/>
        </div>

    </div>

</div>
