<div class="row" id="leftbarcontents" style="padding-right: 0px;padding-left: 0px">
    <div id="left-Menu">
        <accordion close-others="oneAtATime">
            <accordion-group heading="Data Analysis" is-open="true" panel-class="panel-success" >
                <accordion-group heading="{{tables.name}}" ng-repeat="tables in reportTables" >
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-repeat="tableItem in tables.values" style="padding: 8px 4px" class="menuitem listmenu" allstring="{{tableItem.displayName}}">
                            <a style="padding-left: 0px; padding-right: 0px" href="#/analysis?id={{tableItem.id}}" id="{{tableItem.id}}" class="text-success">
                                {{tableItem.shortName}}
                                <i class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </li>
                    </ul>
                </accordion-group>
            </accordion-group>
            <accordion-group heading="Documents" >
                <ul class="nav nav-pills nav-stacked list-group document_panel" style="padding: 5px 5px;">
                <li class="list-group-item" ng-repeat="document in documents">
                <td>
                <a title="View Document(Download)" target="_blank" href="{{document.url}}" class="text-success">
                <span class="fa fa-globe"></span>&nbsp;&nbsp;{{document.name}}</a>
                </td>
                </li>
                </ul>
            </accordion-group>
            <accordion-group heading="Links">
                <ul class="nav nav-pills nav-stacked list-group" style=" margin-left: 0;padding-left: 0em;text-indent: -0.1em;">
                <li class="list-group-item" ng-repeat="external in externalLinks track by $index" >
                <a target="_blank" href="{{external.url}}" class="text-success">
                <i class="fa fa-globe"></i>&nbsp;&nbsp;{{external.name}}</a>
                </li>
                </ul>
            </accordion-group>
        </accordion>

    </div>
</div>