<div class="col-md-12">
<br/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <!-- ngInclude:  -->
            <!--<div ng-include="" src="'templates/feed-code-toggle.html'" class="ng-scope">-->
                <!--<div class="pull-right feed-control ng-scope">-->
                    <!--<button type="button" class="btn btn-default btn-sm fa fa-code" ng-click="code = !code; toggleCode(code);"> Show Code</button>-->
                <!--</div>-->
            <!--</div>-->
            <h3 class="panel-title" style="font-size: 11pt;">Current News</h3>
        </div>
        <div class="panel-body">
            <div class="feed-block">
                <div class="media" ng-repeat="item in feeds.items">
                    <div class="media-body">
                        <h4 class="media-heading"><a href="{{item.link}}"  style="cursor: pointer" target="_blank">{{item.title}}</a></h4>
                        <p>
                            <a href="{{item.link}}" target="_blank" style="color:#646663;cursor: pointer">{{item.content}}</a>
                        </p>
                    <br/>
                        <span><a href="{{item.link}}"  target="_blank" style="cursor: pointer">{{item.author}}</a> - {{item.pubDate}}</span>
                    </div>
                    <hr/>
                </div>

            </div>
        </div>
    </div>

</div>